
{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <script src="https://getbootstrap.com/docs/4.1/assets/js/vendor/popper.min.js"></script>
    <script src="{% static 'node_modules/jquery/dist/jquery.min.js' %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'node_modules/bootstrap/dist/css/bootstrap.min.css' %}" >
    
    <script type="text/javascript" src="{% static 'node_modules/chart.js/dist/Chart.min.js' %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'node_modules/chart.js/dist/Chart.min.css' %}" >
    <title>Mock Stock</title>
    
    <style>
      h1{
          font-family: 'Staatliches', cursive;
          font-size: 1.7em;
      }
      h2{
          font-family:'Roboto Mono', monospace;
          font-size: 1.7em;
      }
      h3{
          font-family: 'Teko', sans-serif;
          font-size: 1.7em;
      }
      p{
          font-family:'Roboto Mono', monospace;
          font-size: 1.1em;
      }
      #login_widgets{
        padding-top: 6%;
      }
      #login_widgets > .form-row{
        background-color: rgb(250, 248, 183);
        margin: 0vw 15vw;
      }

    </style>
    <!-- This div is used to send data from the server to the front-end; when 'bool_create_account' is
        true the page will dynamically update to indicate to the user that they will be creating a new
        account instead of logging in -->
    <div class="d-none" id="create_accnt">{{bool_create_account}}</div>
  </head>

  <body style="background-color: rgb(209, 209, 209);">
    <div class="container-fluid" id="page_container">
      <p class="text-center" style="color: red; padding-top: 3%;">
        {% if messages %}
          {% for message in messages %}
            {{message}}
          {% endfor %}
        {% endif %}
      </p>
      <form class="container" id="login_widgets" method="post" action="access_accounts">
        {% csrf_token %}
        {% if bool_create_account == 'true' %}
         <p class="container-fluid text-center"> *Username must contain at least 6 characters and password must have at least 1 number*</p>
        {% endif %}
        
        <div class="form-row justify-content-center" style="padding-top: 7vw; border-radius: 10% 10% 0% 0%; border: solid grey; border-bottom: none;">
          <div class="col-auto">
            {% if bool_create_account == 'true' %}
              <p>New Username: </p>
            {% else %}
              <p>Username: </p>
            {% endif %}
          </div>
          <div class="col-auto">
            <input class="form-control" type="text" name="username">
          </div>
        </div>
        <div class="form-row pt-4 justify-content-center" style="border-left: solid grey; border-right: solid grey;">
          <div class="col-auto">
            {% if bool_create_account == 'true' %}
              <p>New Password: </p>
            {% else %}
              <p>Password: </p>
            {% endif %}
          </div>
          <div class="col-auto">
            <input class="form-control" type="password" name="password">
          </div>
        </div>
        <div class="form-row justify-content-center" style="padding-bottom:7vw; padding-top:1vw; border-radius: 0% 0% 10% 10%; border: solid grey; border-top: none;">
          <div class="col-auto">
            {% if bool_create_account != 'true' %}
              <button class="pl-5 ml-5" name="create_accnt" value="true" type="submit" style="border: none; background-color: unset;">
                <a name="create_accnt" id="create_accnt_lnk" style="color: turquoise;">Create Account </a>
              </button>
            {% else %}
            {% endif %}
          </div>
          <div class="col-auto">
            {% if bool_create_account == 'true' %}
              <button class="btn btn-success" type="submit" name='balance' value=10000.00 id="create_accnt_btn">Create Account</button>
            {% else %}
              <button class="btn btn-success" type="submit" name="login_btn" value="login" id="login_btn">Login</button>
            {% endif %}
          </div>
        </div>
      </form>
    </div>
  </body>
</html>