{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <script src="https://getbootstrap.com/docs/4.1/assets/js/vendor/popper.min.js"></script>
    <script src="{% static 'node_modules/jquery/dist/jquery.min.js' %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'node_modules/bootstrap/dist/css/bootstrap.min.css' %}" >
    
    <script type="text/javascript" src="{% static 'node_modules/chart.js/dist/Chart.min.js' %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'node_modules/chart.js/dist/Chart.min.css' %}" >
    <title>Mock Stock</title>
   
    
    <!-- <script>
      localStorage.setItem()
    </script> -->
  </head>

  <header>
    <nav class="navbar-expand-lg " id="main-nav">
      <div class="navbar-collapse">
        <ul class="navbar-nav py-4 mr-auto">
          <li class="nav-label nav-item">
            <p>Current Balance: </p>
          </li>
          <li class="nav-label nav-item mx-5">
            <p>Number of Owned Stocks: </p>
          </li>
          <li class="nav-label nav-item">
            <div class="dropdown">
              <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Stats
              </button>
              <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="#">Action</a>
                <a class="dropdown-item" href="#">Another action</a>
                <a class="dropdown-item" href="#">Something else here</a>
              </div>
            </div>
          </li>
        </ul>
        <form class="form-inline mr-lg-4">
          <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-success my-2 my-sm-0" type="submit">Search</button>
          <img src="{% static 'images/list.svg' %}" class="nav-list-btn-icn img-thumbnail mx-lg-2"></img>
        </form>
      </div>
    </nav>
  </header>


  <body>
    <div  id="data-transfer">{{hists}}</div>
    <div  id="interval-time">{{interval_unit}}</div>
    <div class="main_page_container container-fluid">
      <div class="row">
        <div class="col-lg-2">
          <div class="container" id="articlesPg1">
            <h2 class="Jumbotron">S&P 500 Articles</h2>
            <a href="https://www.cnbc.com/sp-500/"> <img src="{% static 'images/CNBC_logo_mod.png' %}" class="article img-thumbnail"></a>
            <a href="https://www.cnbc.com/sp-500/"> <img src="{% static 'images/Yahoo_finance_logo.png' %}" class="article img-thumbnail"> </a>
            <a href="https://www.cnbc.com/sp-500/"> <img src="{% static 'images/market_watch.jpeg' %}" class="article img-thumbnail"> </a>
          </div>
        </div>
        <div class="col col-lg-8" id='chartCont'>
          <div class="chart-cont container mt-5">
            <canvas id="myChart"></canvas>
            <form class="container d-flex justify-content-center .flex-wrap mt-3" action="ret_sp" method="post">
              {% csrf_token %}
              <button type="submit" name="new_graph_period" value="1d" class="chart_btn btn btn-outline-primary mr-3 px-xl-3 mr-3 px-lg-2 px-md-2 p-sm-1">1 Day</button>
              <button type="submit" name="new_graph_period" value="5d" class="chart_btn btn btn-outline-primary mr-3 px-xl-3 mr-3 px-lg-2 px-md-2 p-sm-1">5 Days</button>
              <button type="submit" name="new_graph_period" value="1mo" class="chart_btn btn btn-outline-primary mr-3 px-xl-3 mr-3 px-lg-2 px-md-2 p-sm-1">1 Month</button>
              <button type="submit" name="new_graph_period" value="3mo" class="chart_btn btn btn-outline-primary mr-3 px-xl-3 mr-3 px-lg-2 px-md-2 p-sm-1">3 Months</button>
              <button type="submit" name="new_graph_period" value="6mo" class="chart_btn btn btn-outline-primary mr-3 px-xl-3 mr-3 px-lg-2 px-md-2 p-sm-1">6 Months</button>
              <button type="submit" name="new_graph_period" value="1y" class="chart_btn btn btn-outline-primary mr-3 px-xl-3 mr-3 px-lg-2 px-md-2 p-sm-1">1 Year</button>
              <button type="submit" name="new_graph_period" value="max" class="chart_btn btn btn-outline-primary mr-3 px-xl-3 mr-3 px-lg-2 px-md-2 p-sm-1">Max</button>
            </form>
          </div>
        </div>
      </div>
      
      
      
    </div>
    
  </body>
  
  <!-- <link rel="stylesheet" href="./mock_stocks.css" type="text/css"> -->
  <script type="text/javascript" src="{% static 'mock_stocks.js' %}"></script>
  <script type="text/javascript" src="{% static 'node_modules/bootstrap/dist/js/bootstrap.min.js' %}"></script>
  <link rel="stylesheet" type="text/css" href="{% static 'homepage.css' %}">
</html>