/* used to transfer stock data from the view to the mock_stock.js file */
#data_transfer_sp{
    display: none;
}
#interval_time_sp{
    display: none;
}




/*                          ***MAIN PAGE***  */
#articlesPg1{
    margin-top: 1em;
}
.article_header{
    font-size: 1.5vw;
    margin: 0px;
    margin-left: 0vw;
}

.main_page_container{
    margin: 0em;
}

.article{
    width: 80%;
    margin-top: 1em;
    margin-left: 1vw;
    border-color: grey;
}

.chart_btn{
    border-radius: 0.5em;
}
.chart-title{
    text-shadow: -1px -1px 2px rgb(22, 110, 22);
    color: rgb(122, 196, 11);
}

.main_section{
    padding-bottom: 4vw;
    margin-bottom: 2vw;
}




